@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  /* CTA text */
  --light-red: hsl(356, 100%, 66%);
  /* CTA hover background */
  --very-light-red: hsl(355, 100%, 74%);
  /* Headings */
  --very-dark-blue: hsl(208, 49%, 24%);
  /* Text */
  --white: hsl(0, 0%, 100%);
  /* Footer text */
  --grayish-blue: hsl(240, 2%, 79%);
  /* Body copy */
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  /* Footer background */
  --very-dark-black-blue: hsl(240, 10%, 16%);
  /* Background gradient - Intro/CTA mobile nav */
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  /* Background gradient - body */
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Overpass", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  color: var(--very-dark-blue);
}

h3 {
  font-size: 1.8rem;
  color: var(--very-dark-blue);
}

p {
  font-size: 0.8rem;
  line-height: 1.8;
  color: var(--very-dark-grayish-blue);
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* HEADER */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("images/bg-pattern-intro.svg");
  background-image: url("images/bg-pattern-intro.svg"),
    linear-gradient(to right, var(--very-light-red), var(--light-red));
  background-position: 26% 50%, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 225%, contain;
  padding: 60px 150px;
  color: var(--white);
  text-align: center;
  border-radius: 0 0 0 80px;
}

header p {
  color: var(--white);
  font-size: 1rem;
}

nav {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

nav .logo {
  width: 120px;
  margin-right: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: var(--white);
  opacity: 0.7;
  margin: 25px 15px;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropbtn img {
  margin-left: 7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 180px;
  border-radius: 7px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
  padding: 20px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  font-weight: 700;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  opacity: 1;
  border-bottom: 2px solid var(--white);
}

.dropdown:hover .dropbtn {
  opacity: 1;
  border-bottom: 2px solid var(--white);
}

.dropdown:hover .dropbtn img {
  opacity: 1;
  transform: scaleY(-1);
}

.user-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction {
  margin-bottom: 50px;
}

.introduction p {
  margin-top: 15px;
  margin-bottom: 40px;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  border-radius: 100px;
  padding: 15px;
  min-width: 140px;
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}

.btn.btn-white {
  background-color: var(--white);
  color: var(--light-red);
  border: 1px solid var(--light-red);
}

.btn.btn-white:hover,
.btn.btn-white:focus {
  background-color: #ff677a;
  color: var(--white);
  border: 1px solid #ff677a;
}

.btn.btn-outline {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
  background-color: var(--white);
  color: var(--light-red);
  border: 1px solid var(--light-red);
}

.btn.btn-white.signup {
  margin-left: 10px;
}

/* MAIN */

main {
  padding: 60px 0;
}

main h3 {
  margin-bottom: 20px;
}

article div {
  margin-bottom: 40px;
}

/* MAIN ARTICLE 1 */

.article-1 {
  padding: 70px 150px;
  width: 100%;
  overflow: hidden;
}

.article-1 h2 {
  text-align: center;
  margin: 50px 0;
}

.article-body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.article-body .text {
  width: 40%;
}

.article-body .img-editor {
  position: absolute;
  right: -350px;
  top: -200px;
}

.article-body .img-editor img {
  width: 750px;
}

/* MAIN ARTICLE 2 */

.article-2 {
  padding: 50px 150px;
  width: 100%;
  height: 340px;
  margin-top: 60px;
  margin-bottom: 100px;
  background-image: url("images/bg-pattern-circles.svg");
  background-image: url("images/bg-pattern-circles.svg"),
    linear-gradient(
      to right,
      var(--very-dark-gray-blue),
      var(--very-dark-desaturated-blue)
    );
  background-repeat: no-repeat;
  background-position: -50% 80%;
  border-radius: 0 100px 0 100px;
  position: relative;
  display: flex;
  align-items: center;
}

.article-2 .text h2,
.article-2 .text p {
  color: var(--white);
}

.article-2 .img-phones {
  position: absolute;
  top: -50px;
  left: 100px;
}

.article-2 .img-phones img {
  width: 450px;
}

.article-2 .text {
  width: 50%;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

/* MAIN ARTICLE 2 */

.article-3 {
  padding: 50px 150px;
  width: 100%;
  height: 800px;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  display: flex;
  align-items: center;
}

.article-3 .img-laptop {
  position: absolute;
  top: 0;
  left: -275px;
}

.article-3 .text {
  width: 50%;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

/* FOOTER */

footer {
  padding: 50px 150px;
  background-color: var(--very-dark-black-blue);
  border-radius: 0 80px 0 0;
  color: var(--white);
  width: 100%;
  height: 200px;
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
